@charset "utf-8";
* {margin: 0px;padding: 0px;}

body {
    background-color: #E9D460;
}

.leftbtn{
    width: 3em;
    height: 3em;
    background-color: white;
    outline-style: none;
    border-style: none;
    margin-left: 20em;
    margin-right: 2em;
}

.leftbtn:hover {
    background-color: white;
    cursor: pointer;
}

.rightbtn{
    width: 3em;
    height: 3em;
    background-color: white;
    outline-style: none;
    border-style: none;
/*    margin-top: 50em;*/
}

.rightbtn:hover {
    background-color: white;
    cursor: pointer;
}

.img1 {
    width: 600px;
    height: 600px;
    float: right;
    margin-right: 5em;
    margin-top: 4em;
}

.text {
    background-color: white;
    width: 20em;
    height: 10em;
    margin-top: 5em;
}
